:host {
  margin: auto 0 0 0;
}

.footer {
  padding: 20px 0;
  background-color: #414452;
}

.copy {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #c0c3ce;
}
