<app-breadcrumbs [links]="links"></app-breadcrumbs>

<div class="wrapper-page-content">
  <div class="container">
    <div class="wrapper-search">
      <form action="#" (submit)="onSearchSubmit($event)">
        <label>
          <input
            type="text"
            placeholder="Text to search"
            (input)="onSearchChange($event)"
            [value]="searchQuery">
        </label>
        <button type="submit">Search</button>
      </form>
    </div>

    <div class="wrapper-button">
      <button type="button" routerLink="/course-new">Add course</button>
    </div>

    <app-course-list></app-course-list>
  </div>
</div>
