<app-breadcrumbs [links]="links"></app-breadcrumbs>

<div class="wrapper-page-content">
  <div class="container">
    <div class="wrapper-search">
      <app-search-form [searchQuery]="searchQuery" [onSearchChange]="onSearchChange" [onSearchSubmit]="onSearchSubmit">
      </app-search-form>
    </div>

    <div class="wrapper-button">
      <button type="button" routerLink="/course-new" class="btn">
        <span class="btn__icon">+</span>
        <span class="btn__text">
          Add course
        </span>
      </button>
    </div>

    <app-course-list></app-course-list>
  </div>
</div>
