<div class="course-list">
  <div *ngIf="!courseItemList || courseItemList.length === 0" class="course-list-no-data">
    No data. Feel free to add new course.
  </div>
  <div *ngIf="courseItemList && courseItemList.length">
    <ul class="list">
      <li *ngFor="let courseItem of courseItemList | orderByCreationDate" class="course-list-item">
        <app-course-list-item
          [courseItem]="courseItem"
          (onDelete)="onDeleteCourse($event)"
          (onEdit)="onEditCourse($event)">
        </app-course-list-item>
      </li>
    </ul>
    <div class="wrapper-button">
      <button type="button" (click)="onLoadMore()" class="btn btn-load-more">Load more</button>
    </div>
  </div>
</div>

