.course-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    margin-bottom: 24px;
  }
}

.wrapper-button {
  text-align: center;
}

.btn {
  padding: 0 14px;
  font-family: SourceSansPro, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: -0.1px;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  background-color: #30b6dd;
  cursor: pointer;
  transition: .25s;

  &:hover {
    background-color: darken(#30b6dd, 5);
  }
}
