<app-breadcrumbs [links]="links"></app-breadcrumbs>

<div class="container">
  <form class="form-course" [formGroup]="form" (ngSubmit)="onCourseSubmit($event)">
    <h1 class="form-course__title">{{ name }}</h1>
    <label class="input-wrapper" [class.invalid]="title.touched && title.invalid">
      <span class="input-wrapper-header">
        <span class="input-wrapper__label">Title:</span>
        <span class="input-wrapper__error" *ngIf="title.touched && title.invalid">
          {{ title.errors?.required && 'This field is required' }}
          {{ title.errors?.maxlength && 'This field max length is 50' }}
        </span>
        <span class="input-wrapper__required">*required</span>
      </span>
      <input class="input-wrapper__input" type="text" formControlName="title" />
    </label>
    <label class="input-wrapper" [class.invalid]="description.touched && description.invalid">
      <span class="input-wrapper-header">
        <span class="input-wrapper__label">Description:</span>
         <span class="input-wrapper__error" *ngIf="description.touched && description.invalid">
          {{ title.errors?.required && 'This field is required' }}
           {{ title.errors?.maxlength && 'This field max length is 50' }}
        </span>
        <span class="input-wrapper__required">*required</span>
      </span>
      <textarea class="input-wrapper__input input-wrapper__input--textarea" formControlName="description"></textarea>
    </label>
    <div class="form-course-duration">
      <label class="input-wrapper">
        <span class="input-wrapper-header">
          <span class="input-wrapper__label">Duration:</span>
          <span class="input-wrapper__required">*required</span>
        </span>
        <input
          class="input-wrapper__input"
          type="text"
          name="duration"
          required="true"
          [ngModel]="course.length"
          (ngModelChange)="course.length = $event"
          [ngModelOptions]="{standalone: true}"
        >
      </label>
      <div class="duration-formatted">{{ course.length | formatDuration }}</div>
    </div>

    <div>Here will be separate component</div>

    <app-date-field formControlName="date"></app-date-field>

    <div class="form-course-actions">
      <button (click)="onCancelHandle($event)" class="btn btn--gray" type="button">Cancel</button>
      <button class="btn" type="submit" [disabled]="!this.form.touched || !this.form.valid">Save</button>
    </div>
  </form>
</div>
