<app-breadcrumbs [links]="links"></app-breadcrumbs>

<div class="container">
  <form class="form-course" [formGroup]="form" (ngSubmit)="onCourseSubmit($event)">
    <h1 class="form-course__title">{{ title }}</h1>
    <label class="input-wrapper" [class.invalid]="name.touched && name.invalid">
      <span class="input-wrapper-header">
        <span class="input-wrapper__label">Title:</span>
        <span class="input-wrapper__error" *ngIf="name.touched && name.invalid">
          {{ name.errors?.required && 'This field is required' }}
          {{ name.errors?.maxlength && 'This field max length is 50' }}
        </span>
        <span class="input-wrapper__required">*required</span>
      </span>
      <input class="input-wrapper__input" type="text" formControlName="name" />
    </label>
    <label class="input-wrapper" [class.invalid]="description.touched && description.invalid">
      <span class="input-wrapper-header">
        <span class="input-wrapper__label">Description:</span>
         <span class="input-wrapper__error" *ngIf="description.touched && description.invalid">
          {{ description.errors?.required && 'This field is required' }}
           {{ description.errors?.maxlength && 'This field max length is 50' }}
        </span>
        <span class="input-wrapper__required">*required</span>
      </span>
      <textarea class="input-wrapper__input input-wrapper__input--textarea" formControlName="description"></textarea>
    </label>

    <app-date-field formControlName="date"></app-date-field>
    <app-duration-field formControlName="length"></app-duration-field>
    <app-authors-field formControlName="authors"></app-authors-field>

    <div class="form-course-actions">
      <button (click)="onCancelHandle($event)" class="btn btn--gray" type="button">Cancel</button>
      <button class="btn" type="submit" [disabled]="!this.form.touched || !this.form.valid">Save</button>
    </div>
  </form>
</div>
