<article class="course">
  <div class="course-column-left">
    <header class="course-header">
      <h2 class="course-title">
        <a routerLink="{{ 'course/' + courseItem.id }}" class="course-link">
          {{ courseItem.title }}
        </a>
      </h2>
      <div class="course-info">
        <div class="course-info-item">
          Duration:
          <strong> {{ formatDuration(courseItem.duration) }}</strong>
        </div>
        <div class="course-info-item">
          Publication:
          <strong> {{ courseItem.creationDate }}</strong>
        </div>
      </div>
    </header>
    <p class="course-text">{{ courseItem.description }}</p>
  </div>

  <div class="course-column-right">
    <button type="button" (click)="onEditCourse(courseItem.id)" class="btn">Edit</button>
    <button type="button" (click)="onDeleteCourse(courseItem.id)" class="btn">Delete</button>
  </div>
</article>
