<div class="container">
  <div class="form-login-wrapper">
    <form class="form-login">
      <h1 class="form-login__title">Login</h1>
      <label class="input-wrapper">
        <span class="input-wrapper__label">E-mail:</span>
        <input class="input-wrapper__input" type="email" placeholder="example@email.com">
      </label>
      <label class="input-wrapper">
        <span class="input-wrapper__label">Password:</span>
        <input class="input-wrapper__input" type="password">
      </label>
      <div class="form-login-footer">
        <a routerLink="/page-not-found">Forgot password</a>
        <button class="btn btn-login" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
