<div class="container">
  <div class="form-login-wrapper">
    <form class="form-login" (ngSubmit)="onLoginSubmit($event)">
      <h1 class="form-login__title">Login</h1>
      <label class="input-wrapper">
        <span class="input-wrapper__label">Login:</span>
        <input class="input-wrapper__input"
               type="text"
               placeholder="some login"
               name="login"
               required
               [ngModel]="login"
               (ngModelChange)="login = $event">
      </label>
      <label class="input-wrapper">
        <span class="input-wrapper__label">Password:</span>
        <input class="input-wrapper__input"
               type="password"
               name="password"
               required
               [ngModel]="password"
               (ngModelChange)="password = $event">
      </label>
      <p class="error">{{this.error}}</p>
      <div class="form-login-footer">
        <a routerLink="/page-not-found">Forgot password</a>
        <button class="btn btn-login" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
